* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-size: 16px;
}

body {
  height: 100vh;
  background-color: #ffffff;
  overflow-x: hidden;
}

a {
  line-height: inherit;
  text-decoration: none;
}

h2 {
  color: rgba(131, 52, 52, 0.8);
}

/* Navigation Bar */
@media screen and (min-width: 30em) {
  nav {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0;
    position: fixed;
    overflow: hidden;
    width: 100vw;
    z-index: 99;
    transition: 0.4s;
  }

  nav.active {
    background-color: #ffffff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.4);
  }

  nav ul {
    display: flex;
    font-family: "Open Sans", sans-serif;
    list-style-type: none;
    padding: 2rem;
    align-items: flex-start;
    list-style: none;
    flex-wrap: wrap;
    padding-right: 2rem;
  }

  nav ul li {
    border: 0;
    flex: 1 0 auto;
  }

  nav a {
    text-decoration: none;
    color: rgba(131, 52, 52, 0.8);
    font-family: "Quicksand", sans-serif;
    font-weight: 600;
    text-transform: lowercase;
    font-size: 1.2rem;
    line-height: 1;
    display: block;
    padding: 0.2rem 1rem;
  }

  nav a:hover {
    color: #151515;
  }

  nav .logo {
    background-image: url(../icons/android-chrome-192x192.png);
    background-repeat: no-repeat;
    background-size: 3rem;
    opacity: 0.8;
    min-width: 5rem;
    min-height: 3rem;
    margin-top: 1.4rem;
    margin-left: 4rem;
  }

  nav .logo a {
    text-align: center;
    line-height: 2.5;
    font-family: "Open Sans", sans-serif;
    left: 20px;
    color: rgba(131, 52, 52, 0.8);
    font-size: 1.2rem;
    letter-spacing: 0.8rem;
    transition: 0.4s;
    margin-left: 1rem;
    font-size: 2rem;
    padding-left: 2rem;
  }

  nav .logo a:hover {
    background-color: transparent;
  }

  .drawer-icon {
    display: none;
  }
}
/* end */

.dark {
  color: rgba(26, 26, 26, 0.6);
}

.highlight {
  color: rgba(131, 52, 52, 0.8);
}

.highlight.bold {
  font-weight: bold;
  color: rgba(131, 52, 52, 0.8);
}

/* container */
.section {
  padding-top: 22vh;
  padding-bottom: 10vh;
}

.container-1,
.container-2,
.container-3,
.footer-copyright {
  margin: 0 auto;
  max-width: 70%;
  display: flex;
  justify-content: space-between;
}

.container-4 {
  margin: 0 auto;
  max-width: 70%;
}

/* introduction */
#intro {
  flex: 4;
  font-size: 4rem;
  color: rgba(26, 26, 26, 0.8);
  font-family: "Montserrat", sans-serif;
  line-height: 1.257;
}

#intro::after {
  content: "";
  display: block;
  height: 2px;
  width: 8rem;
  background-color: rgba(131, 52, 52, 0.8);
  position: relative;
  top: 2.55em;
}

#intro2 {
  font-size: 2rem;
  flex: 2;
  text-align: right;
  color: rgba(26, 26, 26, 0.8);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 1.8;
}

/* about */

#about,
#experience,
#contact {
  font-size: 1.6rem;
  text-transform: lowercase;
  text-align: left;
  color: rgb(20, 20, 20);
  font-family: "Quicksand", sans-serif;
  font-weight: 600;
  line-height: 2;
}

.container-2 .aboutblock {
  display: flex;
}

.container-2 #content-1 {
  padding-top: 5vh;
  flex: 3;
}

.container-2 #content-2 {
  background: url(../images/profile.png);
  background-repeat: no-repeat;
  background-size: 18rem;
  margin-top: 3rem;
  opacity: 0.8;
  background-position: top right;
  filter: grayscale(80%) contrast(120%) brightness(1.2);
  max-height: 22rem;
  max-width: 22rem;
  flex: 1;
}

#content-2::after {
  content: "";
  display: block;
  height: 2px;
  width: 8rem;
  background-color: rgba(131, 52, 52, 0.8);
  position: relative;
  right: -12rem;
  top: 34em;
}

.container-2 #content-2:hover {
  filter: grayscale(60%) contrast(120%) brightness(1.2);
}

/* experience */

.container-3 .experienceblock {
  display: flex;
  justify-content: space-between;
}

.timeline::after {
  content: "";
  display: block;
  height: 2px;
  width: 8rem;
  left: -3%;
  background-color: rgba(131, 52, 52, 0.8);
  position: relative;
  top: 6em;
}

/* contact */

.container-4 .contact-grid {
  padding-top: 5vh;
  display: flex;
  /* right: -12rem; */
  justify-content: space-between;
}

.container-4 .contact-grid span {
  margin-left: 1rem;
}

.container-4 .contact-grid a {
  color: rgb(20, 20, 20);
}

.container-4 .contact-grid a:hover {
  color: rgba(131, 52, 52);
  border-bottom: 1px solid currentColor;
}

/* footer */

.footer-copyright .container {
  font-size: 1.4rem;
  width: 100vw;
  text-align: center;
  text-transform: lowercase;
  color: rgb(20, 20, 20);
  font-family: "Quicksand", sans-serif;
  font-weight: 300;
  line-height: 5;
}

/* end */

/* -------------------------------------------------------------------
 * ## intro social
 * ------------------------------------------------------------------- */

.intro-social {
  z-index: 2;
  list-style: none;
  font-size: 18px;
  line-height: 1.6rem;
  margin: 0;
  padding-bottom: 9.6rem;
  text-align: center;
  position: absolute;
  right: 4rem;
  bottom: 0;
  position: fixed;
}

.intro-social a {
  color: rgba(68, 68, 68, 0.8);
}

.intro-social a:hover,
.intro-social a:focus,
.intro-social a:active {
  color: #151515;
}

.intro-social li {
  margin-bottom: 1.6rem;
}

.intro-social li:last-child {
  margin-bottom: 0;
}

.intro-social::before {
  content: "";
  display: block;
  width: 1px;
  height: 7.8rem;
  text-align: right;
  background-color: rgba(68, 68, 68, 0.4);
  position: absolute;
  right: 50%;
  bottom: 0;
}

/* -------------------------------------------------------------------
 * ## intro scroll
 * ------------------------------------------------------------------- */
.intro-scroll {
  z-index: 2;
  line-height: 12px;
  position: absolute;
  left: 4rem;
  bottom: 0;
  position: fixed;
  -webkit-transform: rotate(-90deg) translate3d(0, 100%, 0);
  transform: rotate(-90deg) translate3d(0, 100%, 0);
  -webkit-transform-origin: left bottom;
  transform-origin: left bottom;
}

.intro-scroll .scroll-link {
  font-size: 11px;
  text-transform: lowercase;
  letter-spacing: 4px;
  text-align: left;
  color: rgba(68, 68, 68, 0.8);
  padding-left: 9.6rem;
  margin: 0;
  position: relative;
}

.intro-scroll .scroll-link:hover,
.intro-scroll .scroll-link:focus {
  color: #151515;
}

.intro-scroll::before {
  display: block;
  content: "";
  background-color: rgba(68, 68, 68, 0.2);
  width: 7.8rem;
  height: 1px;
  position: absolute;
  left: 0;
  top: 50%;
}

::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(196, 196, 196);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgba(131, 52, 52, 0.295);
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 126, 120);
}
