header {
  background: url(../images/kid-2.jpg);
  background-size: cover;
  background-position: center;
  min-height: 1000px;
}

.section {
  padding-top: 4vw;
  padding-bottom: 4vw;
}

/* scrollbar */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: rgb(191, 163, 218);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #4a148c;
  border-radius: 4px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(128, 126, 120);
}

.sticky-nav {
  margin: 0;
  position: fixed;
  overflow: hidden;
  z-index: 99;
}

.parallax-container {
  height: 600px;
}
